

@model List<WebApplicationPark.Models.Employees>

@{
    ViewData["Title"] = "Список пользователей";
}

<h2>Список пользователей</h2>

<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Логин</th>
            <th>Пароль</th>
            <th>Дата рождения</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Login</td>
                <td>@user.Password</td>
                <td>@user.DateOfBirth</td>
            </tr>
        }
    </tbody>
</table>

